.contacts {
    display: flex;


.header__contacts {
    margin-left: auto;  
}

&__links:not(:last-child){
    margin-right: 30px;
}

&_text {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color:var(--interactive-element-color);

    font-weight: 500;  
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
    fill: currentColor;
}

&__icon--gap {
    margin-right: 10px;
}
}