.our-team-background {    
    background:var(--our-team-background);
}


.our-team-title {
    margin-bottom: 50px;
    
    color:var(--main-color-text); 

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* description our team with social info and photo */
.team-description {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Background photo team */
.background-photo {
    flex-basis: calc((100% - 30px * 3) /4 );
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background:var(--contrast-color);
}

.img-team {
    display: block;
}

.team-info {
    padding-top: 30px;
    border: 1px solid var( --contrast-color) ;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
}

/* names of team members styles */
.members-team {
    margin-bottom: 10px;

    color:var(--main-color-text);

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
}

.job-title {
    margin-bottom: 30px;
    
    color:var(--interactive-element-color);

    font-size: 16px;
    line-height: calc(19/16); 
    text-align: center;
    letter-spacing: 0.03em;
}


/* Social networs logo */
.team-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.social {
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;

    color:var(--social-icon-defolt-color) ;
    background-color: var(--contrast-color);

    transition-property: color background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: currentColor;
}

.social:hover,
.social:focus {
    background-color: var(--accent-color);
    color: var(--contrast-color)
}