.back-portfolio {
    background-color: var(--contrast-color);
}

.section-portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    //desctop
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px; 
    }
}