:root {
    --main-background-color:#F5F5F5;
    --main-color-text:#212121;
    --interactive-element-color: #757575;
    --contrast-color:#ffffff;
    --background-header-footer:#2F303A;
    --our-team-background:#F5F4FA; 
    --logo-studio-color:#000000; 
    --accent-color:		#2196F3;
    --focus-btn-hero :#188CE8;
    --bg-color-hiro:#C4C4C4;
    --social-icon-defolt-color: #AFB1B8;
    
    
}